
body {
  padding: 5%;
  background-color: rgb(209, 202, 202) !important;
  color: gray !important;
}

#navbarColor03 {
  background-color: rgb(242, 235, 235);
  color: gray;
}

.card {
  border: solid 1rem rgb(233, 229, 229);
  border-radius: 10%;
}

.card-body {
  background-color: rgb(250, 248, 248);
  font-family: "Comic Sans", "Comic Sans MS", cursive, sans-serif;
}

label {
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.card-header {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

.nav-link {
  font-family: 'Open Sans', sans-serif;
}
