body {
  padding: 10%;
  background-color: rgb(199, 190, 190);
}

form {
  background-color: rgb(226, 216, 216);
  border: solid 0.25rem rgb(169, 166, 166);
  border-radius: 1rem;
  width: 80%;
  position: relative;
  left: 10%;
}

label {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.5rem;
  color: gray;
}

.title {
  font-family: fantasy;
  font-size: 2.5rem;
  font-weight: bold;
  color: gray;
  text-align: center;
}
